meta/devicecapabilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011-2013, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Tue, Aug 13, 2013 07:56+1000 for FHIR v0.11 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.11">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="DeviceCapabilities" type="DeviceCapabilities">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeviceCapabilities">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Resource">
        <xs:sequence>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>The name of this device.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>The kind of device - what kind of functionality it provides.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="manufacturer" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>The company that built this device.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="identity" minOccurs="0" maxOccurs="1" type="ResourceReference">
            <xs:annotation>
              <xs:documentation>Identifies this particular device uniquely.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="virtualDevice" type="DeviceCapabilities.VirtualDevice" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A medical-related subsystem of a medical device.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceCapabilities.VirtualDevice">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="code" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Describes the compartment.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="channel" type="DeviceCapabilities.Channel" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Groups together physiological measurement data and derived data.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceCapabilities.Channel">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="code" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Describes the channel.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="metric" type="DeviceCapabilities.Metric" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A piece of measured or derived data that will be reported by the machine.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceCapabilities.Metric">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="code" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Describes the metrics.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="key" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Used to link to data in device log.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="info" type="DeviceCapabilities.Info" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>How to interpret this metric value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="facet" type="DeviceCapabilities.Facet" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Additional data that qualifies the metric, or contributes to its assessment.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceCapabilities.Info">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="DeviceDataType">
            <xs:annotation>
              <xs:documentation>Type of data for this metric.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="units" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Units for this data item (if a quantity or a range).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="ucum" minOccurs="0" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>UCUM units (if a quantity or a range).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="template" minOccurs="0" maxOccurs="1" type="SampledData">
            <xs:annotation>
              <xs:documentation>A template containing the fixed values for an array output (all the values but the data).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="system" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>System of the codes, if the type is a Coding.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceCapabilities.Facet">
    <xs:annotation>
      <xs:documentation>Describes the set of data produced by a device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="code" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Describes the facet.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="scale" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation>The factor to apply to the raw values to get the correct value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="key" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Used to link to data in device log.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="info" type="DeviceCapabilities.Info" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>How to interpret this facet value.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DeviceDataType-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Quantity">
        <xs:annotation>
          <xs:documentation>The data item is a quantity. The string value should be merged with the units, and the ucum value if provided, to create a valid quantity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Range">
        <xs:annotation>
          <xs:documentation>The data item is a range. The string value should be split about the &quot; - &quot; into low and high, with the units and ucum (if provided) filling out the low and high quantities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Coding">
        <xs:annotation>
          <xs:documentation>The data item is a code (i.e. true/false etc). The value should be built into a valid coding by filling out the system element provided.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Array">
        <xs:annotation>
          <xs:documentation>The data item is an Array (a sequence of sample measures, which must be merged with the Array template).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="string">
        <xs:annotation>
          <xs:documentation>The data item is a simple string.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DeviceDataType">
    <xs:annotation>
      <xs:documentation>The type of data produced by a device</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="DeviceDataType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
